.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Links-Home {
  text-decoration: none;
  color: black;
}

.Header {
  background-color: #61dafb;
  height: 50px;
  text-align: center;
}

.beers-list-text {
  text-decoration: none;
  color: black;
}

.new-beer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 20px;
}

.input-field {
  border-color: darkgrey;
  border-radius: 10px;
  height: 40px;
}

.btn-create {
  background-color: #61dafb;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  height: 50px;
  width: 250px;
  border-color: #61dafb;
  border-radius: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
